.problemHeading{
    display: grid;
    grid-template-columns: auto 2fr 2fr;
    width:100%;
    border:2px solid black;
    font-size:20px;
    padding:20px;
}
.problemHeading h3{
    text-align: center;
}
h1{
    text-transform: uppercase;
    text-align: center;
    padding:20px;
}
