*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.headerContainer{
  height:10vh;
  background-color: rgb(192, 45, 26);
  color: #fff;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul{
  list-style-type: none;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
a{
  text-decoration: none;
  color:white;
  font-size: 1.5vw;
}
.Title {
  width: fit-content;
  width:50%;
  font-size:1.5vw;
  text-align: center;
}
